.swipe{

    position: absolute;


    
  }




  .card-container {
    width: 100vw;
    max-width: 400px;
    height: 70vh;
    max-height: 650px;
    margin-top: 10vh;
  }

  .deck-container {
    z-index: 0;
  }