
.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
  .btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
  }

  .btn-spacer{
    padding-left: (1rem * 3) !important;

    @media (max-width: 576px) {
      padding-left: (1rem * .5) !important;
      // min-height: 350px;
  
    }
    
    @media (max-width: 420px) {
      padding-left: (1rem * .5) !important;
      // min-height: 300px;
  
    }
  }

  .deck{
    width: 100vw;
    @media (max-width: 576px) {
      width: 100vw;
    }

    background-color: transparent;

  }
  