
  
  .underline {
    color: whitesmoke;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom-width: 2px;
    border-bottom-color: pink;
    border-bottom-style: solid;
    text-shadow: 2px 2px black;

  }