
  
  .underline {
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128);
    border-bottom-width: 2px;
    border-bottom-color: pink;
    border-bottom-style: solid;
    text-shadow: 2px 2px black;
    opacity: 0.7;
    padding-bottom: 3px;
    margin-bottom: 0px;


  }

.gallery-container{
    overflow-y: scroll !important;
    z-index: 10000;
}


.gallery-container::-webkit-scrollbar{
    width: 15px !important;
    z-index: 10000;
}

.gallery-container::-webkit-scrollbar-track{
    box-shadow: inset 0px 0px 10px hotpink !important; 
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
} 

.gallery-container::-webkit-scrollbar-thumb {
    background: plum !important;

}

.gallery-container::-webkit-scrollbar-thumb:hover{
    background: lightpink !important;
}

.gallery-row{

  background: rgba(128, 128, 128, 0.521);
  padding-bottom: 5px;
  backdrop-filter: blur(7px);

  
}